<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">
    <div class="lmlblog-member-left">
        <div class="lmlblog-member-left-bg-music clear">
            <h3>背景音乐</h3>
            <div id="lmlblog-memeber-bg-music" class="aplayer"></div>
            <img src="picture/9c774d91gy1ft4lhr5vbmg20jp08okbw.gif" alt="司空琪">
            <audio src="mp3/music_1530776683.mp3" autoplay
                   controls></audio>
        </div>
        <div class="lmlblog-member-left-profile">
            <h3>资料简介</h3>
            <li><i class="fa fa-address-book-o"></i> I D：<span>520<span></li>
            <li><i class="fa fa-transgender"></i> 性别：<span>女生<span></li>
            <li><i class="fa fa-map-marker"></i> 城市：<span>画江湖 司空家<span></li>
            <li><i class="fa fa-smile-o"></i> 签名：<span>坚强勇敢，利落干脆。冰雪聪明，明眸善睐。重情重义，侠骨柔情。<span></li>
        </div>

        <div class="lmlblog-member-left-visitor clear">
            <h3>最近访客</h3>
            <li><a href="#1" title="访问时间：22分钟前"><img src="picture/1.gif" class="avatar"/>
                <p>born</p></a></li>
            <li><a href="#2" title="访问时间：3小时前"><span class="lmlblog-vip-icon"></span><img
                    src="picture/qi.jpg" class="avatar"/>
                <p>司空琪</p></a></li>
            <li><a href="#3" title="访问时间：10小时前"><span class="lmlblog-vip-icon"></span><img
                    src="picture/2.gif" class="avatar"/>
                <p>晴川</p></a></li>
            <li><a href="#4" title="访问时间：14小时前"><img src="picture/3.gif" class="avatar"/>
                <p>大白兔</p></a></li>
            <li><a href="#5" title="访问时间：15小时前"><img src="picture/4.jpg" class="avatar"/>
                <p>momo</p></a></li>
            <li><a href="#6" title="访问时间：1天前"><span class="lmlblog-vip-icon"></span><img src="picture/5.png"
                                                                                         class="avatar"/>
                <p>啦啦啦123</p></a></li>
            <li><a href="#7" title="访问时间：1天前"><img src="picture/6.gif" class="avatar"/>
                <p>随风</p></a></li>
            <li><a href="#8" title="访问时间：1天前"><img src="picture/7.gif" class="avatar"/>
                <p>哒哒</p></a></li>
            <li><a href="#9" title="访问时间：1天前"><img src="picture/8.gif" class="avatar"/>
                <p>陌若</p></a></li>
            <li><a href="#10" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img
                    src="picture/9.gif" class="avatar"/>
                <p>hidhz</p></a></li>
            <li><a href="#11" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img
                    src="picture/10.gif" class="avatar"/>
                <p>老虎</p></a></li>
            <li><a href="#12" title="访问时间：3天前"><img src="picture/11.gif" class="avatar"/>
                <p>不要演有事说</p></a></li>
            <li><a href="#13" title="访问时间：3天前"><img src="picture/12.gif" class="avatar"/>
                <p>瑾似流年</p></a></li>
            <li><a href="#14" title="访问时间：3天前"><img src="picture/13.gif" class="avatar"/>
                <p>九张机</p></a></li>
            <li><a href="#15" title="访问时间：4天前"><img src="picture/14.jpg" class="avatar"/>
                <p>美美哒</p></a></li>
            <li><a href="#16" title="访问时间：4天前"><span class="lmlblog-vip-icon"></span><img
                    src="picture/15.gif" class="avatar"/>
                <p>zanbocm</p></a></li>
            <li><a href="#2528" title="访问时间：4天前"><img src="picture/16.gif" class="avatar"/>
                <p>yfdaifhc</p></a></li>
            <li><a href="#52" title="访问时间：4天前"><img src="picture/17.png" class="avatar"/>
                <p>xcxla</p></a></li>
            <li><a href="#0292" title="访问时间：4天前"><img src="picture/18.jpg" class="avatar"/>
                <p>墨虹客栈</p></a></li>
            <li><a href="#1753" title="访问时间：5天前"><img src="picture/19.jpg" class="avatar"/>
                <p>空间吧</p></a></li>
        </div>
        <div class="lmlblog-member-left-visitor clear">
            <h3>值得关注</h3>
            <div class="aplayer"></div>
            <a href="https://blog.52itstyle.vip" target="_blank">
                <img src="picture/wechat.jpg" alt="爪哇筆記个人主页">
                <p>其实我们每个人的生活都是一个世界， 即使最平凡的人也要为他生活的那个世界努力。</p>
            </a>
        </div>
        <div class="lmlblog-member-left-bg-xg clear">
            <h3>相关推荐</h3>
            <div id="lmlblog-memeber-bg-xg" class="aplayer"></div>
            <a href="https://blog.52itstyle.vip" target="_blank"><h2>燕凌姣个人主页</h2>
                <img src="picture/9afb97dagy1fxc304c4dij20g40733z2.jpg" alt="燕凌姣个人主页">
                <p>　　一袭蓝衣亭亭玉立，姣若春梅绽雪，神如月射寒江，香培玉琢、英姿飒爽;其静兰生幽谷，其动若飞若扬，性格大气坚毅、疏朗开阔，举止敢爱敢恨、聪明磊落...他就是燕凌姣</p></a>
        </div>
    </div>
</div>
</html>