<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <div class="menu-bar">
        <div class="head_content">
            <h1 class="m-logo"><a href="/" ></a></h1>
            <div id="nav" class="menu-menu-1-container"><ul id="menu-menu-1" class="menu">
                <li class="menu-item menu-item-type-custom"><a href="https://blog.52itstyle.top"><i class="fa fa-home"></i> 个人中心</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                    <a><i class="fa fa-comments-o"></i>说说</a></li>
                <li class="menu-item"><a>贴吧</a></li>
                <li class="menu-item"><a>微博</a></li>
                <li class="menu-item"><a>空间</a></li>
                <li class="menu-item menu-item-has-children"><a>好友</a></li>
            </ul></div>
            <div class="head_user_info">
                <ul>
                    <li id="head_search"><i class="fa fa-search"></i></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
</html>